.heading
{

    background-color: aquamarine;
color: blueviolet;

}

#note
{

color: blueviolet;
background-color: coral;

}

#footer
{

    position: fixed;
    width: 100%;
    line-height:2;
    background-color: coral;
    color: dodgerblue;
    font-size:25px;
    text-align: center;
    bottom: 0;


}